@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 18px;
}

h2 {
  color: hsl(210, 10%, 33%);
  font-size: 2.425rem;
  font-weight: 600;
}

h3 {
  color: hsl(210, 10%, 33%);
  font-size: 1.55rem;
  margin-bottom: 15px;
}

p {
  color: hsl(201, 11%, 66%);
  font-size: 1.15rem;
  font-weight: 400;
  margin: 18px 0;
  line-height: 1.5;
}

.title-section {
  text-align: center;
  padding: 0 26%;
  margin-bottom: 90px;
}

.download-btns {
  display: flex;
  align-items: center;
}

.download-btns .btn {
  margin: 5px 10px;
  text-decoration: none;
  font-size: 1.18rem;
  font-weight: 600;
  color: white;
  padding: 15px 37.5px;
  border-radius: 100px;
  box-shadow: 0 10px 20px 0 rgb(0, 0, 0, 0.18);
}

.ios-btn {
  background-color: hsl(171, 66%, 44%);
}

.mac-btn {
  background-color: hsl(233, 100%, 69%);
}

.download-btns .btn:hover {
  opacity: 0.78;
}

/* Header */
.header {
  width: 100%;
  text-align: center;
  padding: 9.5% 26% 6%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url(../images/bg-header-desktop.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.header img {
  width: 18%;
  margin: 0 auto;
}

.header-text {
  margin: 60px auto;
}

.header-text .title {
  color: hsl(210, 10%, 33%);
  font-size: 2.9rem;
  font-weight: 600;
  margin-bottom: 12.5px;
}

.header-text p {
  color: hsl(201, 11%, 66%);
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5;
}

/* Snippets Section */
.snippets-section {
  width: 100%;
  padding: 6% 0;
}

.snippets-section .content {
  display: flex;
  justify-content: space-between;
}

.box-1 img {
  width: 105%;
}

.box-2 {
  padding-left: 145px;
}

.mini-box {
  width: 56%;
  margin-top: 50px;
}

.mini-box p {
  font-size: 1.1rem;
  line-height: 1.8;
}

/* Clipboard Access */
.clipboard-access {
  width: 100%;
  padding: 6% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.clipboard-access img {
  margin: 0 auto;
  width: 60%;
}

/* Tools Section */
.tools-section {
  width: 100%;
  padding: 2% 0;
}

.tools {
  width: 80%;
  margin: 0 auto 100px;
  display: flex;
  justify-content: space-around;
}

.tool {
  text-align: center;
  width: 100%;
  margin: 0 10px;
}

.tool p {
  font-size: 1.1rem;
  line-height: 1.8;
}

.tool img {
  margin-bottom: 38px;
}

.create-blacklist img {
  margin-bottom: 30px;
}

/* Companies */
.companies {
  width: 100%;
  margin: 0 auto 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.companies img {
  margin: 0 60px;
}

/* Clipboard Section */
.clipboard-section {
  width: 100%;
  padding: 4% 0 10%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.clipboard-section .title-section {
  margin-bottom: 25px;
}

.clipboard-section .title-section p {
  margin-top: 20px;
}

/* Footer Section */
footer {
  width: 100%;
  padding: 3% 0 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #f1f4f6;
}

.contact-and-support {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-logo img {
  width: 35%;
  margin-right: 60px;
}

.footer-box .content {
  margin-left: 50px;
  text-align: left;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px 75px;
}

.footer-box .content a {
  text-decoration: none;
  color: hsl(210, 10%, 33%);
  font-weight: 400;
}

.footer-box .content a:hover {
  color: hsl(171, 66%, 44%);
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.social-links .icon {
  color: hsl(210, 10%, 33%);
  margin: 15px;
  font-size: 1.8rem;
}

.social-links .icon:hover {
  color: hsl(171, 66%, 44%);
}

footer .attribution {
  font-size: 13px;
  color: hsl(212, 9%, 42%);
  font-weight: 400;
  margin: 40px auto 5px;
}

.attribution a {
  text-decoration: none;
  font-weight: 600;
  color: hsl(210, 10%, 33%);
}

/* For Mobile Screen */

@media (max-width: 475px) {
  body {
    padding: 0 20px;
  }

  h2 {
    font-size: 1.7rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  p {
    font-size: 0.95rem;
  }

  .title-section {
    padding: 0 6.5%;
    margin-bottom: 50px;
  }

  .download-btns {
    flex-direction: column;
  }

  .download-btns .btn {
    margin: 5px 0 15px;
    font-size: 1rem;
    padding: 15.8px 72.5px;
  }

  .header {
    padding: 30% 3% 10%;
    background-image: url(../images/bg-header-mobile.png);
    margin-bottom: 20px;
  }

  .header img {
    width: 35%;
  }

  .header-text {
    margin-bottom: 20px;
  }

  .header-text .title {
    font-size: 1.92rem;
  }

  .header-text p {
    font-size: 1rem;
    line-height: 1.5;
    padding: 0 3px;
  }

  .snippets-section .content {
    flex-direction: column;
  }

  .box-1 img {
    width: 100%;
  }

  .box-2 {
    padding: 0 0 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .mini-box {
    width: 80%;
    margin-top: 30px;
  }

  .mini-box p {
    font-size: 0.9rem;
  }

  .clipboard-access img {
    width: 100%;
    margin-bottom: 50px;
  }

  .tools {
    width: 85%;
    flex-direction: column;
  }

  .tool {
    margin-top: 30px;
  }

  .tool img {
    margin-bottom: 25px;
  }

  .tool p {
    font-size: 0.9rem;
  }

  .companies {
    flex-direction: column;
  }

  .companies img {
    width: 40%;
    margin: 50px 0;
  }

  .clipboard-section {
    padding-bottom: 30%;
  }

  .contact-and-support {
    flex-direction: column;
  }

  footer {
    background-size: 100vw;
  }

  .footer-box {
    flex-direction: column;
  }

  .footer-logo img {
    width: 40%;
    margin: 40px 0;
  }

  .footer-box .content {
    font-size: 1rem;
    margin: 0 0 35px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  footer .attribution {
    font-size: 11px;
    margin-top: 20px;
  }
}
